@media (min-width: 541px) and (max-width: 992px) {
    .hero {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-end;
        padding-top: var(--header-height);
        padding-bottom: 2rem;
    }

    .hero-img {
        margin: 2rem auto 1rem auto;
        /* Center horizontally with top margin */
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 110px;

    }

    .hero-content {
        margin: 0 2vw 0 2vw;
        align-items: flex-start;
        font-size: 12px !important;
    }

    .hero-img img {
        width: 150px;
        /* Smaller size on mobile */
        max-width: 70vw;
        border-radius: 50%;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    }

    .hero-content p {
        font-size: 28px;
        margin: 0;
        margin-left: 10px;
    }

    .hero-content h1 {
        font-size: 60px;
        margin: 0 0 0.5em 0;
        font-weight: bold;
        margin-left: 10px;
    }

    .desktop-nav {
        display: none !important;
    }

    .site-header {
        display: none !important;
    }

    .hide-mobile {
        display: none !important;
    }
}

@media (max-width: 540px) {
    .hero {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-end;
        padding-top: var(--header-height);
        padding-bottom: 2rem;
    }

    .hero-img {
        margin: 2rem auto 1rem auto;
        /* Center horizontally with top margin */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 75px;
        margin-top: 110px;

    }

    .hero-content {
        margin: 0 2vw 0 2vw;
        align-items: flex-start;
        font-size: 12px !important;
    }

    .hero-img img {
        width: 150px;
        /* Smaller size on mobile */
        max-width: 70vw;
        border-radius: 50%;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    }

    .hero-content p {
        font-size: 12px;
        margin: 0;
        margin-left: 10px;
    }

    .hero-content h1 {
        font-size: 20px;
        margin: 0 0 0.5em 0;
        font-weight: bold;
        margin-left: 10px;
    }

    .desktop-nav {
        display: none !important;
    }

    .site-header {
        display: none !important;
    }

    .hide-mobile {
        display: none !important;
    }
}

@media (max-width: 900px) {
    .desktop-nav {
        display: none;
    }

    .site-header {
        display: none !important;
    }

    .hide-mobile {
        display: none !important;
    }

}

@media (min-width: 900px) {
    .search-bar-container {
        display: none !important;
    }
}



@media (min-width: 800px) {
    .jmf-skill-table-container {
        width: 500px !important;
    }
}